In [2]:
import pandas as pd
import numpy as np

#File to load
file = "Seasons_stats.csv"

#Reading file and storing to dataframe
nba_data = pd.read_csv(file)

nba_data.head()

/Users/fasterpermits/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,6,7,8,9,10,13,14,15,16,17,18,19,20,22,23,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Key,NaN,NaN,NaN,NaN,NaN,Games,Games Started,Minutes Played,Player Efficency Rating,...,Free Throw Percentage,offensive rebounds,defensive rebounds,total rebounds,assists,steals,Blocks,Turnovers,Personal Fouls,Points
1,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458
2,1,1950.0,Cliff Barker,SG,29.0,INO,49,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279
3,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438
4,3,1950.0,Ed Bartels,F,24.0,TOT,15,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63

In [82]:
#Filtering data to specific years and grouping by player
player_data = nba_data.loc[nba_data['Year'] >= 1980]
player_data.dropna(how='any')
player_data = player_data[player_data['G'].notna()]
player_data = player_data[player_data['MP'].notna()]
player_data = player_data[player_data['GS'].notna()]

player_data['G'] = pd.to_numeric(player_data['G'])
player_data['MP'] = pd.to_numeric(player_data['MP'])


minutes = player_data['MP']
games = player_data['G']

minutes_per_game =  minutes/games
player_data['Minutes/Game'] = minutes_per_game
player_data['Minutes/Game'] = player_data['Minutes/Game'].map('{:.1f}'.format)
player_data['Minutes/Game'] = pd.to_numeric(player_data['Minutes/Game'])
player_data = player_data.loc[player_data['Minutes/Game'] >= 20]

#player_data = nba_data.loc[nba_data[]]
#player_data_grouped = player_data.groupby(['Player'])


player_data.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Minutes/Game
5731,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80.0,80,2864.0,15.3,...,59,138,197,671,106,10,242,218,1131,35.8
5749,5748,1980.0,Larry Bird*,PF,23.0,BOS,82.0,82,2955.0,20.5,...,216,636,852,370,143,53,263,279,1745,36.0
5782,5781,1980.0,M.L. Carr,SF,29.0,BOS,82.0,7,1994.0,14.6,...,106,224,330,156,120,36,143,214,914,24.3
5803,5802,1980.0,Dave Cowens*,C,31.0,BOS,66.0,55,2159.0,14.8,...,126,408,534,206,69,61,108,216,940,32.7
5836,5835,1980.0,Chris Ford,SG,31.0,BOS,73.0,73,2115.0,13,...,77,104,181,215,111,27,105,178,816,29.0

In [83]:
#Offensive Analysis
#Creating specific offense data frame
#offense_data = player_data[['Year', 'Player', 'Pos', 'G', 'MP', 'TS%', 'eFG%', 'AST', 'PTS', 'ORB']]
#offense_data.head()
player_points = player_data[['Year','Player', 'PTS', 'Minutes/Game']]
player_points

         Year           Player   PTS  Minutes/Game
5731   1980.0  Tiny Archibald*  1131          35.8
5749   1980.0      Larry Bird*  1745          36.0
5782   1980.0        M.L. Carr   914          24.3
5803   1980.0     Dave Cowens*   940          32.7
5836   1980.0       Chris Ford   816          29.0
...       ...              ...   ...           ...
24675  2017.0    Troy Williams    58          23.2
24677  2017.0  Justise Winslow   196          34.7
24685  2017.0       Nick Young   791          25.9
24686  2017.0   Thaddeus Young   814          30.2
24687  2017.0      Cody Zeller   639          27.8

[8639 rows x 4 columns]

In [84]:
#df['Amount'] = pd.to_numeric(df['Amount'])
player_points['PTS'] = pd.to_numeric(player_points['PTS'])

top_points = player_points.sort_values(by='PTS', ascending=False)
top_points.head(10)

/Users/fasterpermits/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

         Year             Player     PTS  Minutes/Game
8470   1987.0    Michael Jordan*  3041.0          40.0
8870   1988.0    Michael Jordan*  2868.0          40.4
17743  2006.0        Kobe Bryant  2832.0          41.0
9748   1990.0    Michael Jordan*  2753.0          39.0
9298   1989.0    Michael Jordan*  2633.0          40.2
22439  2014.0       Kevin Durant  2593.0          38.5
10213  1991.0    Michael Jordan*  2580.0          37.0
24655  2017.0  Russell Westbrook  2558.0          34.6
6558   1982.0     George Gervin*  2551.0          35.7
11107  1993.0    Michael Jordan*  2541.0          39.3

In [87]:
points_per_minutes = player_points['PTS'] / player_data['MP']
player_points['Points/Min'] = points_per_minutes
player_points['Points/Min'] = player_points['Points/Min'].map('{:.1f}'.format)
top_points_min = player_points.sort_values(by='PTS', ascending=False)
top_points_min.head(20)

/Users/fasterpermits/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/fasterpermits/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         Year             Player     PTS  Minutes/Game Points/Min
8470   1987.0    Michael Jordan*  3041.0          40.0        0.9
8870   1988.0    Michael Jordan*  2868.0          40.4        0.9
17743  2006.0        Kobe Bryant  2832.0          41.0        0.9
9748   1990.0    Michael Jordan*  2753.0          39.0        0.9
9298   1989.0    Michael Jordan*  2633.0          40.2        0.8
22439  2014.0       Kevin Durant  2593.0          38.5        0.8
10213  1991.0    Michael Jordan*  2580.0          37.0        0.9
24655  2017.0  Russell Westbrook  2558.0          34.6        0.9
6558   1982.0     George Gervin*  2551.0          35.7        0.9
11107  1993.0    Michael Jordan*  2541.0          39.3        0.8
9796   1990.0       Karl Malone*  2540.0          38.1        0.8
6673   1982.0      Moses Malone*  2520.0          42.0        0.7
12529  1996.0    Michael Jordan*  2491.0          37.7        0.8
17919  2006.0       LeBron James  2478.0          42.5        0.7
20072  2010.0       Kevin Durant  2472.0          39.5        0.8
16071  2003.0        Kobe Bryant  2461.0          41.5        0.7
6522   1982.0    Adrian Dantley*  2457.0          39.8        0.8
13097  1997.0    Michael Jordan*  2431.0          37.9        0.8
18296  2007.0        Kobe Bryant  2430.0          40.8        0.8
7275   1984.0    Adrian Dantley*  2418.0          37.8        0.8