In [2]:
import pandas as pd
import numpy as np

#File to load
file = "Seasons_stats.csv"

#Reading file and storing to dataframe
nba_data = pd.read_csv(file)
nba_data.head()

C:\Users\goblebla\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (0,6,7,8,9,10,13,14,15,16,17,18,19,20,22,23,24,25,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Key,NaN,NaN,NaN,NaN,NaN,Games,Games Started,Minutes Played,Player Efficency Rating,...,Free Throw Percentage,offensive rebounds,defensive rebounds,total rebounds,assists,steals,Blocks,Turnovers,Personal Fouls,Points
1,0,1950.0,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,NaN,...,0.705,NaN,NaN,NaN,176,NaN,NaN,NaN,217,458
2,1,1950.0,Cliff Barker,SG,29.0,INO,49,NaN,NaN,NaN,...,0.708,NaN,NaN,NaN,109,NaN,NaN,NaN,99,279
3,2,1950.0,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,NaN,...,0.698,NaN,NaN,NaN,140,NaN,NaN,NaN,192,438
4,3,1950.0,Ed Bartels,F,24.0,TOT,15,NaN,NaN,NaN,...,0.559,NaN,NaN,NaN,20,NaN,NaN,NaN,29,63

In [29]:
#Filtering data to specific years and grouping by player
player_data = nba_data.loc[nba_data['Year'] >= 1980]
player_data = player_data.groupby(['Player'])

player_data.head()

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
5728,5727,1980.0,Kareem Abdul-Jabbar*,C,32.0,LAL,82,NaN,3143,25.3,...,0.765,190,696,886,371,81,280,297,216,2034
5729,5728,1980.0,Tom Abernethy,PF,25.0,GSW,67,NaN,1222,11,...,0.683,62,129,191,87,35,12,39,118,362
5730,5729,1980.0,Alvan Adams,C,25.0,PHO,75,NaN,2168,19.2,...,0.797,158,451,609,322,108,55,218,237,1118
5731,5730,1980.0,Tiny Archibald*,PG,31.0,BOS,80,80,2864,15.3,...,0.83,59,138,197,671,106,10,242,218,1131
5732,5731,1980.0,Dennis Awtrey,C,31.0,CHI,26,NaN,560,7.4,...,0.64,29,86,115,40,12,15,27,66,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24687,24686,2017.0,Cody Zeller,PF,24.0,CHO,62,58,1725,16.7,...,0.679,135,270,405,99,62,58,65,189,639
24688,24687,2017.0,Tyler Zeller,C,27.0,BOS,51,5,525,13,...,0.564,43,81,124,42,7,21,20,61,178
24689,24688,2017.0,Stephen Zimmerman,C,20.0,ORL,19,0,108,7.3,...,0.6,11,24,35,4,2,5,3,17,23
24690,24689,2017.0,Paul Zipser,SF,22.0,CHI,44,18,843,6.9,...,0.775,15,110,125,36,15,16,40,78,240
24691,24690,2017.0,Ivica Zubac,C,19.0,LAL,38,11,609,17,...,0.653,41,118,159,30,14,33,30,66,284

In [32]:
#Offensive Analysis
#Creating specific offense data frame
offense_data = player_data[['Year', 'Player', 'Pos', 'G', 'MP', 'TS%', 'eFG%', 'AST', 'PTS', 'ORB']]
offense_data.head()

,Year,Player,Pos,G,MP,TS%,eFG%,AST,PTS,ORB
5728,1980.0,Kareem Abdul-Jabbar*,C,82,3143,0.639,0.604,371,2034,190
5729,1980.0,Tom Abernethy,PF,67,1222,0.511,0.481,87,362,62
5730,1980.0,Alvan Adams,C,75,2168,0.571,0.531,322,1118,158
5731,1980.0,Tiny Archibald*,PG,80,2864,0.574,0.485,671,1131,59
5732,1980.0,Dennis Awtrey,C,26,560,0.524,0.45,40,86,29
...,...,...,...,...,...,...,...,...,...,...
24687,2017.0,Cody Zeller,PF,62,1725,0.604,0.571,99,639,135
24688,2017.0,Tyler Zeller,C,51,525,0.508,0.494,42,178,43
24689,2017.0,Stephen Zimmerman,C,19,108,0.346,0.323,4,23,11
24690,2017.0,Paul Zipser,SF,44,843,0.503,0.473,36,240,15
24691,2017.0,Ivica Zubac,C,38,609,0.547,0.529,30,284,41